/*header-----------------------------------------------------------------------------------*/

#header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#header .wrap_header {
  text-align: center;
}
#header .logo {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}
#header .register {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}
#header .tel {
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}

/*gnb-----------------------------------------------------------------------------------*/

.gnb {
  display: inline-block;
  margin: 50px 0 0;
}
.gnb .depth0>li {
  float: left;
  position: relative;
}
.gnb .depth0>li>a {
  display: block;
  margin: 12px 23px;
  color: #fff;
  font-size: 18px;
  font-family: 'NanumSquareB';
}
.gnb .depth0>li.on>a {
  color: #999;
}
.gnb .depth0>li .depth1 {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  padding: 20px 0;
  background: #2ebdad;
  opacity: 0;
  visibility: hidden;
}
.gnb .depth0>li .depth1>li {
  position: relative;
}
.gnb .depth0>li .depth1>li>a {
  display: block;
  height: 28px;
  line-height: 28px;
  color: #ace0d9;
  font-size: 14px;
  font-family: 'NanumSquareB';
  text-align: center;
}
.gnb .depth0>li .depth1>li.on>a,
.gnb .depth0>li .depth1>li>a:hover {
  color: #fff;
}

/*lnb-----------------------------------------------------------------------------------*/

.lnb {
  background: #f8f8f8;
  text-align: center;
}
.lnb>li {
  display: inline-block;
  padding: 17px 30px;
  border-right: 1px solid #e9e9e9;
}
.lnb>li:first-child {
  border-left: 1px solid #e9e9e9;
}
.lnb>li>a {
  display: block;
  height: 28px;
  line-height: 28px;
  color: #a4a4a4;
  font-size: 14px;
}
.lnb>li.on>a,
.lnb>li>a:hover {
  color: #1f1f23;
  border-bottom: 1px solid #2ebdad;
}
